body {
    font-family: 'Titillium Web', sans-serif
}

.app-container {
    width: 100%;
}

.app-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    border: 1px;
}

.app-banner {
    width: 100%;
    height: 100%;
}

.app-content-container {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.navbar {
    width: 20%;
    height: 100vh;
}

.content {
    width: 80%;
    height: 100vh;
    background: #f5ffff;
    margin-left: 20%;
    margin-top: 57px;
    justify-content: center;
}

.app-header-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}

.search-result-text {
    font-size: 24px;
    margin-left: 7px;
}

.app-add-button-wrapper {
    width: 8%;
    height: 37px;
    margin-left: auto;
}

.app-add-button {
    width: 100%;
    height: 37px;
    background: #00007f;
    border: 2px solid #00004c;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    margin-left: -5px;
}

.app-card-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.table-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 96%;
    height: 100%;
    background: #e7e7e7;
    border: 1px solid #000000;
    margin-top: 25px;
    margin-left: 2.3%;
}

.tab-box-container {
    background: #00007f;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #000000;
}

.tab-link-wrapper {
    width: 15%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #000000;
}

.tab-link-container {
    width: 100%;
    height: 50px;
    font-size: 18px;
    color: white;
    background: rgba(0,0,0,0);
    border: 0px;
}

.tab-link-container:focus{
    outline: none;
}

.table-header-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    background: #8A8A8A;
    align-items: center;
    border-bottom: 1px solid #000000;
}

.table-header-date{
    font-size: 18px;
    font-weight: bold;
    width: 10%;
    margin-left: 0.5%;
    text-align: center
}

.table-header-name{
    font-size: 18px;
    font-weight: bold;
    width: 20%;
    margin-left: 0.5%;
    text-align: center;
}

.table-header-action{
    font-size: 18px;    
    font-weight: bold;
    width: 10%;
    margin-left: 0.5%;
    text-align: center;
}

.table-header-target{
    font-size: 18px;
    font-weight: bold;
    width: 50%;
    margin-left: 0.5%;
    text-align: center;
}

.activity-card-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    background: #ffffff;
    align-items: center;
    border-bottom: 1px solid #000000;
}

.card-date{
    font-size: 18px;
    width: 10%;
    margin-left: 0.5%;
    text-align: center
}

.card-user{
    font-size: 18px;
    width: 20%;
    margin-left: 0.5%;
    text-align: center;
}

.card-action{
    font-size: 18px;
    width: 10%;
    margin-left: 0.5%;
    text-align: center;
}

.card-target{
    font-size: 18px;
    width: 50%;
    margin-left: 0.5%;
    text-align: center;
}

.card-button{
    width: 32px;
    height: 32px;
    background: #660000;
    text-align: center;
}

.delete-icon{
    font-size: 18px;
    color: #ffffff;
}

.report-content {
    width: 100vw;
    height: 100vh;
    background: #f5ffff;
    margin-top: 57px;
    justify-content: center;
}

.user-content {
    width: 100vw;
    height: 100vh;
    background: #f5ffff;
    margin-top: 57px;
    justify-content: center;
}

.chart-container {
    width: 31%;
    height: 300px;
    background: #ffffff;
    margin-left: 1.5%;
    margin-top: 20px;
    border: 1.5px solid #505050;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-row-container {
    display: flex;
    flex-direction: row;
}

.data-set-wrapper {
    display: flex;
    flex-direction: row;
}

.data-box {
    display: flex;
    flex-direction: column;
    width: 23%;
    height: 150px;
    margin-top: 20px;
    margin-left: 7%;
    border: 3px solid #505050;
    border-radius: 5px;
    background: #D3D3D3;
    align-items: center;
    justify-content: center;
}

.data-number {
    font-size: 32px;
    font-weight: bold;
    color: #696969;
}

.data-text {
    font-size: 26px;
    color: #696969;
    margin-top: 10px;
}