.search-icon {
    font-size: 22px;
    margin-bottom: 2px;
}

.filter-text {
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
}

.nav-icon {
    font-size: 18px;
    margin-bottom: 1px;
    color: #00004c;
}

.nav-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    background: #4b738e;
    position: fixed;
    top: 61px;
    left: 0;
    overflow-x: hidden;
}

.nav-text-wrapper {
    font-size: 18px;
}

.text-set-wrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.filter-container {
    margin-top: 10px;
    margin-left: 10px;
}

.nav-input-field {
    width: 94%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
}

.radio-group-wrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 95%
}

.radio-wrapper {
    width: 50%;
}

.clear-button {
    width: 47%;
    height: 35px;
    background: #00007f;
    border: 2px solid #00004c;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 2%;
    margin-top: 10px;
    float: right;
}